name: ShopSmart CI
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      # ---------- CLIENT ----------
      - name: Install client dependencies
        working-directory: client
        run: npm install

      - name: Build client
        working-directory: client
        run: npm run build

      # ---------- SERVER ----------
      - name: Install server dependencies
        working-directory: server
        run: npm install

      - name: Test server
        working-directory: server
        run: npm test --if-present
